name: lint

on:
  push:
    branches:
      - "*"
    branches-ignore:
      - "main"
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install all dependencies
        run: yarn install

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Lint all projects
        run: yarn run lint
